		<!-- contact information -->				
		<div class="cta-panel">
			<div class="container">
				<div class="call">
					<div class="title">
						<p>Technocare is available to answer your calls on: 800-7927</p>
					</div>
					<p>
						Ask a question, check if your device is under warranty or coordinate Free Pickup!
					</p>
				</div>
				<div class="schedule">
					<div class="holder"> <strong>Business Hours Are</strong>
						<p>Sat - Thu 10am-9pm</p>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-columns">
			<div class="container">
				<div class="col widget_nav_menu" id="nav_menu-2">
					<h3>Sitemap</h3>
					<div class="menu-sitemap-container">
						<ul id="menu-sitemap" class="menu">
							<li id="menu-item-115" class="menu-item menu-item-type-post_type menu-item-object-page active page_item page-item-2 current_page_item menu-item-115">
								<a href="http://www.technocare.ae/">Home</a>
							</li>
							<li id="menu-item-112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-112">
								<a href="http://www.technocare.ae/about/">About</a>
							</li>
							<li id="menu-item-113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113">
								<a href="http://www.technocare.ae/devices-repaired/">Devices Repaired</a>
							</li>
							<li id="menu-item-688" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-688">
								<a href="http://www.technocare.ae/walk-in-centers-dubai-kuwait-riyadh-jeddah/">Locations</a>
							</li>
							<li id="menu-item-116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116">
								<a href="http://www.technocare.ae/contact/">Contact Us</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col widget_text" id="text-4">
					<div class="form-subscribe">
						<h3>Stay in touch for great offers</h3>
						<div role="form" class="wpcf7" id="wpcf7-f195-o2" lang="en-US" dir="ltr">
							<div class="screen-reader-response"></div>
							<form name="" action="/#wpcf7-f195-o2" method="post" class="wpcf7-form" novalidate="novalidate">
								<div style="display: none;">
									<input type="hidden" name="_wpcf7" value="195" />				
									<input type="hidden" name="_wpcf7_version" value="4.2" />				
									<input type="hidden" name="_wpcf7_locale" value="en_US" />				
									<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f195-o2" />				
									<input type="hidden" name="_wpnonce" value="353498a29e" />				
								</div>
								<fieldset>
									<div class="field-group">
										<label>First and Last Name</label>
										<span class="wpcf7-form-control-wrap name">
											<input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="First and Last Name" />				
										</span>
									</div>
									<div class="field-group">
										<label>Email Address</label>
										<span class="wpcf7-form-control-wrap email">
											<input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email Address" />				
										</span>
									</div>
									<span class="btn-form">
										<input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit" />				
									</span>
								</fieldset>
								<div class="wpcf7-response-output wpcf7-display-none"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="col col-follow">
					<!-- connect info -->				
					<h3>Connect with us</h3>
					<ul class="follow-list">
						<li class="facebook">
							<a href="http://www.facebook.com/technocareuae">Follow us on Facebook</a>
						</li>
						<li class="twitter">
							<a href="https://twitter.com/TechnocareLLC">Follow us on Twitter</a>
						</li>
						<li class="google-plus">
							<a href="http://google.com/+TechnocareAephonerepair">Follow us on Google +</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- copyright -->				
		<div class="copy">
			<div class="container">
				<p>&copy; Copyright 2015 Technocare. All rights reserved.</p>
				<ul id="menu-menu-footer" class="">
					<li id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13">
						<a href="http://www.technocare.ae/privacy-policy/">Privacy Policy</a>
					</li>
				</ul>
				>
			</div>
		</div>
	</div>
</footer>
</div>
<script type='text/javascript' src='__ROOT____PUBLIC__Js/jquery.form.min.js'></script>
<script type='text/javascript' src='__ROOT____PUBLIC__Js/scripts.js'></script>
</body>
</html>