<include file="./Application/Home/View/header.html" />
<div id="main">
	<!-- request information -->
	<section class="request-section">
		<div class="container">
			<div class="text-col">
				<h1>Why Choose Technocare to fix your phone, tablet or laptop?</h1>
				<ul>
					<li>We use all official original parts in our repairs.</li>
					<li>Free pick-up and delivery service in UAE.</li>
					<li>Fastest repairs in UAE - 1hr service for common problems.</li>
					<li>
						Two convenient Walk-in Centers and hundreds of Drop-off Points.
					</li>
					<li>
						Warranty &amp; non-warranty repairs for phones, tablets and laptops.
					</li>
					<li>All our repairs come with a 1 month 100% guarantee</li>
				</ul>
				<div class="contact-item">
					<dl>
						<dt>FREE CALL:</dt>
						<dd>800-7927</dd>
					</dl>
					To ask a question, check if your device is under warranty or coordinate Free Pickup!
				</div>
			</div>
			<div class="form-col">
				<span class="overlay" style="background:#0078b0;"></span>
				<div class="col-holder">
					<div class="request-form">
						<span class="arrow"></span>
						<h2>Submit Repair Request</h2>
						<div role="form" class="wpcf7" id="wpcf7-f4-o1" lang="en-US" dir="ltr">
							<div class="screen-reader-response"></div>
							<form name="" action="/about/#wpcf7-f4-o1" method="post" class="wpcf7-form" novalidate="novalidate">
								<div style="display: none;">
									<input type="hidden" name="_wpcf7" value="4" />
									<input type="hidden" name="_wpcf7_version" value="4.2" />
									<input type="hidden" name="_wpcf7_locale" value="en_US" />
									<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f4-o1" />
									<input type="hidden" name="_wpnonce" value="c1ad844575" />
								</div>
								<div class="field-group">
									<label>First and Last Name</label>
									<span class="wpcf7-form-control-wrap name">
										<input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="First and Last Name" />
									</span>
								</div>
								<div class="field-group">
									<label>Mobile Number eg 9715012345678</label>
									<span class="wpcf7-form-control-wrap phone">
										<input type="tel" name="phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" placeholder="Mobile Number eg 9715012345678" />
									</span>
								</div>
								<div class="field-group">
									<label>Email Address</label>
									<span class="wpcf7-form-control-wrap email">
										<input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email Address" />
									</span>
								</div>
								<div class="field-group">
									<label>Select Device Brand</label>
									<span class="wpcf7-form-control-wrap brand">
										<select name="brand" class="wpcf7-form-control wpcf7-select" aria-invalid="false">
											<option value="Select Device Brand">Select Device Brand</option>
											<option value="Apple">Apple</option>
											<option value="Samsung">Samsung</option>
											<option value="Lenovo">Lenovo</option>
											<option value="HTC">HTC</option>
											<option value="Nokia">Nokia</option>
											<option value="Sony">Sony</option>
											<option value="LG">LG</option>
											<option value="Blackberry">Blackberry</option>
											<option value="Motorola">Motorola</option>
											<option value="Laptop">Laptop</option>
											<option value="Other">Other</option>
										</select>
									</span>
								</div>
								<div class="field-group">
									<label>Device Model (eg Galaxy 4s)</label>
									<span class="wpcf7-form-control-wrap model">
										<input type="text" name="model" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Device Model (eg Galaxy 4s)" />
									</span>
								</div>
								<div class="field-group">
									<label>What is the problem you are having?</label>
									<span class="wpcf7-form-control-wrap problem">
										<textarea name="problem" cols="10" rows="4" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="What is the problem you are having?"></textarea>
									</span>
								</div>
								<span class="btn-form">
									<input type="submit" value="SUBMIT" class="wpcf7-form-control wpcf7-submit" />
								</span>
								<div class="wpcf7-response-output wpcf7-display-none"></div>
							</form>
						</div>
						<div class="form-message">
							<div class="message-holder"> <strong class="title"><b>Thank You</b>
									Your request has been submitted</strong> 
								<p>We will process your request and reply to you shortly.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bg">
			<img width="1200" height="501" src="__ROOT____PUBLIC__Picture/img-06.jpg" class="attachment-full" alt="img-06" />
			<span class="overlay" style="background:#0078b0;"></span>
		</div>
	</section>
	<!-- retail partners list -->
	<section class="logos-section">
		<div class="container">
			<h2>Our Retail Partners</h2>
			<div class="logos-gallery">
				<a href="#" class="btn-prev">Previous</a>
				<a href="#" class="btn-next">Next</a>
				<div class="gmask-holder">
					<div class="gmask">
						<ul>
							<li>
								<a href="http://carrefouruae.com">
									<img width="75" height="45" src="__ROOT____PUBLIC__Picture/untitled-1.png" class="attachment-full" alt="Untitled-1" />
								</a>
							</li>
							<li>
								<a href="http://www.jackys.com/where-to-buy.php">
									<img width="85" height="50" src="__ROOT____PUBLIC__Picture/jackys-logo-red.png" class="attachment-full" alt="Jackys-logo-red" />
								</a>
							</li>
							<li>
								<a href="http://www.geant-uae.com">
									<img width="141" height="50" src="__ROOT____PUBLIC__Picture/geant-logo-color.png" class="attachment-full" alt="Geant-logo-color" />
								</a>
							</li>
							<li>
								<a href="http://www.emaxme.com/en">
									<img width="92" height="50" src="__ROOT____PUBLIC__Picture/emax-logo-color.png" class="attachment-full" alt="emax-logo-Color" />
								</a>
							</li>
							<li>
								<a href="http://www.sharafdg.com">
									<img width="196" height="50" src="__ROOT____PUBLIC__Picture/sharaf_dg-logo-color.png" class="attachment-full" alt="Sharaf_Dg-Logo-Color" />
								</a>
							</li>
							<li>
								<a href="http://www.jumbocorp.com">
									<img width="187" height="50" src="__ROOT____PUBLIC__Picture/jumbo-logo-color.png" class="attachment-full" alt="Jumbo-logo-Color" />
								</a>
							</li>
							<li>
								<a href="http://uae.luluhypermarket.com">
									<img width="230" height="50" src="__ROOT____PUBLIC__Picture/lulu-logo-color.png" class="attachment-full" alt="Lulu-logo-Color" />
								</a>
							</li>
							<li>
								<a href="http://www.pluginselectronix.com">
									<img width="93" height="50" src="__ROOT____PUBLIC__Picture/plugins-logo-color-02.png" class="attachment-full" alt="Plugins-logo-Color-02" />
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="text-section">
		<div class="container">
			<h1>About Technocare</h1>
			<div class="twocolumns">
				<div class="content-col">
					<p>
						Technocare is an award winning ISO 9000/14000 certified dedicated service centre for Samsung, Nokia and other leading brands. We are the first independent customer care organization in the UAE to be authorized to support all major mobile and IT brands for both warranty and non-warranty repairs in the region.
					</p>
					<p>
						Technocare is driven by over 200 competent service professionals through state-of-the-art facilities where we handle over 500,000 repairs a year, making us the largest repair organization in the region. Our best-in-class solutions like web based tracking, online payment gateway, and RFID enabled logistics ensure that our customers are always kept well informed every step of the way.
					</p>
				</div>
				<aside class="side-col">
					<h2>Quick facts</h2>
					<ul class="list">
						<li> <strong>ISO 9000/14000</strong>
							certified company
						</li>
						<li>
							<strong>Over 1000</strong>
							supported retail partners
						</li>
						<li>
							<strong>Over 1,500</strong>
							retail outlets
						</li>
						<li>
							<strong>20 Global brands</strong>
						</li>
						<li>
							<strong>4 network operators</strong>
						</li>
						<li>
							<strong>Team of over 300</strong>
							professionals
						</li>
					</ul>
				</aside>
			</div>
		</div>
	</div>
	<div class="promo-about">
		<div class="container">
			<div class="col">
				<div class="col-holder">
					<p>
						If you purchased your device at one of our vendor partners including Carrefour and Sharaf DG, you can also drop your device at the same location.
					</p>
					<p>
						<a title="Drop-off Points" href="http://www.technocare.me/?page_id=20" target="_blank">Visit our supported list of retail partners.</a>
					</p>
					<a href="/?page_id=20" class="btn-primary arrow-right">Find a Drop Off Point</a>
				</div>
			</div>
			<div class="col">
				<div class="col-holder">
					<ul>
						<li>
							Over
							<strong class="size-1">300 major retail outlets</strong>
							to drop off your device
						</li>
						<li>
							<strong>Many locations to choose from</strong>
							based on your convenience
						</li>
						<li>
							Flexibility to
							<strong>drop off at the store you bought the device</strong>
							or at an
							<strong>independent location</strong>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<span class="arrow-section"></span>
	</div>
</div>
</div>
</div>
<!-- footer of the page -->
<footer id="footer">
<div class="footer-holder">
<div class="total-section">
	<div class="container">
		<div class="holder">
			<img width="365" height="276" src="__ROOT____PUBLIC__Picture/img-09.png" class="attachment-full" alt="img-09" />
			<div class="text-holder">
				<p>
					“What are you waiting for? Don’t suffer another minute, get your phone, tablet or laptop fixed with Technocare.”
				</p>
				<a href="#" class="btn-primary arrow-top">Get Started</a>
			</div>
		</div>
	</div>
</div>
<include file="./Application/Home/View/footer.html" />